In [1]:
import pandas as pd
import numpy as np

In [8]:
mat1 = [[1,2,3],
        [4,5,6], 
        [7,8,9]]
mat2 = [['c', 'd'],
        ['e', 'f']]

df1 = pd.DataFrame(mat1, columns=['A', 'B', 'C'], index=['i', 'ii', 'iii'])
df2 = pd.DataFrame(mat2, columns=['D1', 'D2'], index=['i', 'iii'])

print(df1)
print(df2)

df3 = df1.join(df2)
print(df3)

     A  B  C
i    1  2  3
ii   4  5  6
iii  7  8  9
    D1 D2
i    c  d
iii  e  f
     A  B  C   D1   D2
i    1  2  3    c    d
ii   4  5  6  NaN  NaN
iii  7  8  9    e    f

In [29]:
d1 = pd.DataFrame([ ['wood', 'chair', 20.00],
                    ['wood', 'table', 40.00],
                    ['wood', 'spoon', 50.00],
                    ['plastic', 'cup', 100.00],
                    ['plastic', 'spoon', 60.00]],
                    columns=['category', 'product', 'price'])

d2 = pd.DataFrame([ ['wood', 'cup', 0.20],
                    ['wood', 'table', 0.20],
                    ['wood', 'spoon', 0.21],
                    ['plastic', 'cup', 0.15],
                    ['plastic', 'chair', 0.18]],
                    columns=['category', 'product', 'dicount'])

print(d1)
print("------------------------------------------------")
print(d2)
print("------------------------------------------------")

d3 = pd.merge(d1, d2, how='left')
print(d3)

  category product  price
0     wood   chair   20.0
1     wood   table   40.0
2     wood   spoon   50.0
3  plastic     cup  100.0
4  plastic   spoon   60.0
------------------------------------------------
  category product  dicount
0     wood     cup     0.20
1     wood   table     0.20
2     wood   spoon     0.21
3  plastic     cup     0.15
4  plastic   chair     0.18
------------------------------------------------
  category product  price  dicount
0     wood   chair   20.0      NaN
1     wood   table   40.0     0.20
2     wood   spoon   50.0     0.21
3  plastic     cup  100.0     0.15
4  plastic   spoon   60.0      NaN

In [43]:
d31 = pd.merge(d1, d2, how='left', on=['category', 'product'], suffixes=("_d1", "_d2"))

d32 = d1.join(d2.set_index('category'), how='left', lsuffix='_d1', rsuffix='_d2')

print(d31)
print(d32)

  category product  price  dicount
0     wood   chair   20.0      NaN
1     wood   table   40.0     0.20
2     wood   spoon   50.0     0.21
3  plastic     cup  100.0     0.15
4  plastic   spoon   60.0      NaN
  category product_d1  price product_d2  dicount
0     wood      chair   20.0        NaN      NaN
1     wood      table   40.0        NaN      NaN
2     wood      spoon   50.0        NaN      NaN
3  plastic        cup  100.0        NaN      NaN
4  plastic      spoon   60.0        NaN      NaN

In [70]:
df_csv = pd.read_csv('./Book1.csv')
print(df_csv)

    ID       name  class house color  marks
0    1     abcshd      3      yellow     21
1    2     akdasd      4         red     59
2    3   sahbhukc      4        blue     35
3    4   ahsjdgas      5        blue     65
4    5       jsad      3         red     12
5    6  asndkjshb      3        blue      6
6    7     asdasf      5      yellow     97
7    8       sdfd      5        blue     29
8    9      jtyhr      4        blue     80
9   10        fdg      4         red     71
10  11     bgfyer      4         red     78
11  12     xfftar      4      yellow     88
12  13     thgfdv      5        blue     74
13  14   hrtesfdc      3         red      5
14  15    ghnfgbr      3        blue     27
15  16      regsf      4        blue     99
16  17      rtsfx      3      yellow    100
17  18    rwsfdxc      3        blue      4
18  19       yhfg      3        blue     71
19  20     erasdz      3         red     11
20  21      trhfg      5         red    100
21  22       rsgf      4        blue     61
22  23     etrgsf      3        blue     23
23  24     t5ergf      5      yellow     56
24  25      qreaf      5        blue     85
25  26     ytehdg      3        blue      9
26  27        y6r      4      yellow     48
27  28    thrq3ea      5         red     79
28  29    4wrefsd      5      yellow     59
29  30       whsd      5      yellow      0

In [57]:
df_grp = df_csv.groupby(by='class')
print(df_grp.groups)

# df_sum = (df_csv.groupby(by='class').sum())
# print(df_sum['marks'])

# def_mean = (df_csv.groupby(by='house color').mean())
# print(def_mean['marks'])

{3: [0, 4, 5, 13, 14, 16, 17, 18, 19, 22, 25], 4: [1, 2, 8, 9, 10, 11, 15, 21, 26], 5: [3, 6, 7, 12, 20, 23, 24, 27, 28, 29]}

In [74]:
# df_csv.set_index(['class', 'house color'], inplace=True)
print(df_csv.groupby(by=['class', 'house color']).max()['marks'])
print(df_csv)

class  house color
3      blue            71
       red             12
       yellow         100
4      blue            99
       red             78
       yellow          88
5      blue            85
       red            100
       yellow          97
Name: marks, dtype: int64
    ID       name  class house color  marks
0    1     abcshd      3      yellow     21
1    2     akdasd      4         red     59
2    3   sahbhukc      4        blue     35
3    4   ahsjdgas      5        blue     65
4    5       jsad      3         red     12
5    6  asndkjshb      3        blue      6
6    7     asdasf      5      yellow     97
7    8       sdfd      5        blue     29
8    9      jtyhr      4        blue     80
9   10        fdg      4         red     71
10  11     bgfyer      4         red     78
11  12     xfftar      4      yellow     88
12  13     thgfdv      5        blue     74
13  14   hrtesfdc      3         red      5
14  15    ghnfgbr      3        blue     27
15  16      regsf      4        blue     99
16  17      rtsfx      3      yellow    100
17  18    rwsfdxc      3        blue      4
18  19       yhfg      3        blue     71
19  20     erasdz      3         red     11
20  21      trhfg      5         red    100
21  22       rsgf      4        blue     61
22  23     etrgsf      3        blue     23
23  24     t5ergf      5      yellow     56
24  25      qreaf      5        blue     85
25  26     ytehdg      3        blue      9
26  27        y6r      4      yellow     48
27  28    thrq3ea      5         red     79
28  29    4wrefsd      5      yellow     59
29  30       whsd      5      yellow      0